<h1 class="text-xl mb-5">{{ pageTitle }}</h1>

<form class="formgrid grid pb-8" [formGroup]="formGroup">
  <p-toast></p-toast>

  <div class="grid col-12">
    <div class="col-12 xl:col-3 flex flex-column gap-2">
      <label>Nome*</label>
      <input pInputText formControlName="name" />
      <small class="text-danger" *ngIf="nameControl.errors?.['maxlength'] as error">
        Máximo {{ error.requiredLength }} caracteres
      </small>
    </div>

    <div class="col-12 mt-3 xl:col-3 xl:mt-0 flex flex-column gap-2">
      <label>Data de nascimento*</label>
      <p-calendar dateFormat="dd/mm/yy" styleClass="w-full" formControlName="date_birth" [readonlyInput]="true"></p-calendar>
    </div>

    <div class="col-12 mt-3 xl:col-3 xl:mt-0 flex flex-column gap-2">
      <label>Documento*</label>
      <p-inputMask formControlName="document" styleClass="w-full" mask="999.999.999-99" [unmask]="true" />
    </div>

    <div class="col-12 mt-3 xl:col-3 xl:mt-0 flex flex-column gap-2">
      <label>Email*</label>
      <input pInputText formControlName="email" />
      <small class="text-danger" *ngIf="emailControl.touched && emailControl.errors?.['email']">
        Email inválido
      </small>
    </div>
  </div>
</form>

<footer class="footer">
  <p-confirmPopup></p-confirmPopup>
  <p-button styleClass="p-button-sm" (onClick)="onSave()">Salvar</p-button>
  <p-button styleClass="p-button-raised p-button-text p-button-sm" routerLink="/barbers">Voltar</p-button>
  <ng-template *ngIf="editMode" [appActiveInactiveButton]="isActive" (onActive)="onActive()" (onInactive)="onInactive()"></ng-template>
</footer>
