<h1 class="text-xl mb-5">{{ pageTitle }}</h1>

<form class="formgrid grid pb-4" [formGroup]="formGroup">
  <div class="grid col-12 xl:col-9">
    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4 relative">
      <label>Nome</label>
      <input pInputText formControlName="name" />
      <small class="text-danger ml-2" *ngIf="nameControl.errors?.['maxlength'] as error">Máximo {{ error.requiredLength }} caracteres</small>
    </div>

    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4 relative">
      <label>Login</label>
      <input pInputText formControlName="login" />
      <small class="text-danger ml-2" *ngIf="loginControl.errors?.['pattern']">O login não pode conter espaços</small>
      <small class="text-danger ml-2" *ngIf="loginControl.errors?.['maxlength'] as error">Máximo {{ error.requiredLength }} caracteres</small>
      <small class="text-danger ml-2" *ngIf="loginControl.errors?.['minlength'] as error">Mínimo {{ error.requiredLength }} caracteres</small>
    </div>

    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4 relative">
      <label>Senha</label>
      <p-password styleClass="w-full" formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
      <small class="text-danger ml-2" *ngIf="passwordControl.errors?.['maxlength'] as error">Máximo {{ error.requiredLength }} caracteres</small>
      <small class="text-danger ml-2" *ngIf="passwordControl.errors?.['minlength'] as error">Mínimo {{ error.requiredLength }} caracteres</small>
    </div>

    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4 relative">
      <label>Confirmação da senha</label>
      <p-password styleClass="w-full" formControlName="confirm" [toggleMask]="true" [feedback]="false" (input)="onInput()"></p-password>
      <small class="text-danger ml-2" *ngIf="confirmControl.errors?.['matcher'] as error">As senhas digitadas não coincidem</small>
    </div>

    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4">
      <label>Tipo de usuário</label>
      <p-dropdown styleClass="w-full" formControlName="level" [options]="userLevels" optionLabel="label"></p-dropdown>
    </div>
  </div>
</form>

<footer class="footer">
  <p-confirmPopup></p-confirmPopup>
  <p-button styleClass="p-button-sm" (onClick)="onSave()" [disabled]="!hasPermission()">Salvar</p-button>

  <p-button styleClass="p-button-raised p-button-text p-button-sm" routerLink="/users">Voltar</p-button>

  <ng-template
    *ngIf="editMode"
    [appToggleStatusButton]="isActive"
    (onActive)="onActive()"
    (onInactive)="onInactive()"
    [disabled]="!hasPermission(true)"
  ></ng-template>
</footer>
