<h1 class="text-xl mb-5">Lista de serviços</h1>

<app-filter (onFilter)="getLabors()" (onClear)="getLabors(true)">
  <form [formGroup]="filterForm" class="formgrid grid pb-4">
    <div class="col flex flex-column gap-2">
      <label>Nome</label>
      <input pInputText formControlName="name" />
    </div>

    <div class="col flex flex-column gap-2">
      <label>Duração</label>
      <input pInputText formControlName="duration" type="time" />
    </div>
  </form>
</app-filter>

<div class="mt-5 pb-8">
  <p-table
    dataKey="id"
    [value]="labors"
    [totalRecords]="totalRecords"
    [lazy]="true"
    [paginator]="true"
    [rows]="limitPaging"
    [rowsPerPageOptions]="[5, 10, 25]"
    [(selection)]="selectedLabors"
    (onPage)="onLazyLoad($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th>Nome</th>
        <th>Duração</th>
        <th>Status</th>
        <th class="w-8rem"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-labor>
      <tr *ngIf="loading">
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
        <td><p-skeleton></p-skeleton></td>
      </tr>

      <tr *ngIf="!loading">
        <td><p-tableCheckbox [value]="labor"></p-tableCheckbox></td>
        <td>{{ labor.name }}</td>
        <td>{{ labor.duration | minutesToTime }}</td>
        <td><ng-template [appRegisterStatus]="labor.active"></ng-template></td>
        <td><p-button styleClass="p-button-raised p-button-text p-button-sm" [routerLink]="labor.id">Acessar</p-button></td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft">
      <p-confirmPopup></p-confirmPopup>
      <p-splitButton label="Ações" [model]="actions" styleClass="p-button-raised p-button-text"></p-splitButton>
    </ng-template>
  </p-table>
</div>

<footer class="footer">
  <p-button styleClass="p-button-sm" routerLink="new">Novo serviço</p-button>
</footer>
