$sidebar-collapsed-width: 70px;
$sidebar-expanded-width: 300px;
$menu-height: 58px;

$dark-0: #1C1C28;
$dark-1: #28293D;
$dark-2: #555770;
$dark-3: #8F90A6;
$dark-4: #C7C9D9;

$light-0: #E4E4EB;
$light-1: #EBEBF0;
$light-2: #F2F2F5;
$light-3: #FAFAFC;
$light-4: #FFFFFF;

$error: #ff9a9a;
