<p-dialog
  [header]="dialogHeader"
  [modal]="true"
  [style]="{ maxWidth: '785px', width: '100%' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onClose(false)"
  [(visible)]="visible"
>
  <form class="formgrid grid" [formGroup]="formGroup">
    <div class="col-6">
      <div class="flex flex-column gap-2 pb-4">
        <label>Título</label>
        <input pInputText formControlName="title" />
      </div>

      <div class="flex flex-column gap-2 pb-4">
        <label>Barbeiro</label>
        <p-dropdown appendTo="body" optionLabel="name" optionDisabled="active" styleClass="w-full" formControlName="barber" [options]="barbers" [autoDisplayFirst]="false"></p-dropdown>
      </div>

      <div class="flex flex-column gap-2 pb-4">
        <label>Cliente</label>
        <p-dropdown appendTo="body" optionLabel="name" optionDisabled="active" styleClass="w-full" formControlName="customer" [options]="customers" [autoDisplayFirst]="false"></p-dropdown>
      </div>

      <div class="flex flex-column gap-2">
        <label>Serviços</label>
        <p-multiSelect appendTo="body" optionLabel="name" optionDisabled="active" display="chip" styleClass="w-full" formControlName="labors" [options]="labors"></p-multiSelect>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column gap-2 relative pb-4">
        <label>Início</label>
        <p-calendar appendTo="body" dateFormat="dd/mm/yy" styleClass="w-full" formControlName="start" [showTime]="true"></p-calendar>
        <small class="text-danger" *ngIf="startControl.errors?.['unavailable']">
          Horário indisponível
        </small>
      </div>

      <div class="flex flex-column gap-2 pb-4">
        <label>Fim</label>
        <p-calendar appendTo="body" dateFormat="dd/mm/yy" styleClass="w-full" formControlName="end" [showTime]="true"></p-calendar>
      </div>

      <div class="flex flex-column gap-2" *ngIf="suggestions.length">
        <small class="text-sm font-semibold">Horários sugeridos:</small>
        <div class="flex flex-wrap row-gap-1">
          <p-button
            styleClass="p-button-raised p-button-text p-button-sm text-sm w-full"
            *ngFor="let suggestion of suggestions"
            (onClick)="defineSuggestion(suggestion)"
            [disabled]="disableSuggestion(suggestion)"
          >
            {{ suggestion.start_time | date:'HH:mm' }} - {{ suggestion.end_time | date:'HH:mm' }}
          </p-button>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-confirmPopup></p-confirmPopup>

    <div class="flex gap-3">
      <p-button styleClass="p-button-sm" (onClick)="onSave()">Salvar</p-button>
      <p-button styleClass="p-button-raised p-button-text p-button-sm" (onClick)="onClose(false)">Cancelar</p-button>
      <p-button styleClass="p-button-raised p-button-text p-button-danger p-button-sm" *ngIf="editMode" (onClick)="onDelete($event)">Remover</p-button>
    </div>
  </ng-template>
</p-dialog>
