<h1 class="text-xl mb-5">{{ pageTitle }}</h1>

<form class="formgrid grid pb-4" [formGroup]="formGroup">
  <div class="grid col-12 xl:col-9">
    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4 relative">
      <label>Nome</label>
      <input pInputText formControlName="name" data-test="name" />
      <small class="text-danger ml-2" *ngIf="nameControl.errors?.['maxlength'] as error">
        Máximo {{ error.requiredLength }} caracteres
      </small>
    </div>

    <div class="col-12 xl:col-6 flex flex-column gap-2 pb-4">
      <label>Duração</label>
      <p-inputMask formControlName="duration" styleClass="w-full" mask="99:99" data-test="duration" />
    </div>
  </div>
</form>

<footer class="footer">
  <p-confirmPopup></p-confirmPopup>
  <p-button styleClass="p-button-sm" (onClick)="onSave()">Salvar</p-button>
  <p-button styleClass="p-button-raised p-button-text p-button-sm" routerLink="/labors">Voltar</p-button>
  <ng-template *ngIf="editMode" [appToggleStatusButton]="isActive" (onActive)="onActive()" (onInactive)="onInactive()"></ng-template>
</footer>
